@charset "utf-8";
 
@import 'https://fonts.googleapis.com/css?family=Slabo+27px';

.btn-success{
    border:none;
    background-color:#0754a4;
    padding:10px 15px
}
ul.mtree {
  opacity: 0;
  margin-left: 0;
  padding: .5em;

}
ul.mtree ul {
  margin-left: .5em;
}
ul.mtree li {
  list-style: none;

}
    ul.mtree a {
        display: block;
        text-decoration: none;
        font-family: 'font-family: 'Slabo 27px', serif;';
    }
ul.mtree li.mtree-node > a {
    font-family: 'font-family: 'Slabo 27px', serif;';
  font-weight: normal;
}

ul.mtree a {
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

 
ul.mtree.transit {
  background: #044896;
}
ul.mtree.transit ul {
  margin-left: 0;
}
ul.mtree.transit ul > li {
  font-size: .9em;
}
ul.mtree.transit li.mtree-node {
  	position: relative;
    border-bottom: 1px dashed #ededed
}
ul.mtree.transit li.mtree-node > a:before {
  /* color: #FFF; */
  font-weight: normal;
  position: absolute;
  right: 20px;
}
ul.mtree.transit li.mtree-open > a:before {
  content: '-';
}
ul.mtree.transit li.mtree-closed > a:before {
  content: '+';
}
ul.mtree.transit ul > li{
    border:none
}
ul.mtree.transit ul > li:first-child {
  margin-top: 1px;
}
ul.mtree.transit li.mtree-open > a {
  background: #e2e2e2;
  color: #044896; 
  /* background: #222; */ 
}
ul.mtree.transit li > a:hover, ul.mtree.transit li.mtree-active > a {
  /* background: #333;
  color: #FFF; */
  background: #e2e2e2;
  color: #044896;
}
ul.mtree.transit li.mtree-node > ul > li:last-child {
  margin-bottom: .5em;
  padding-bottom: .5em;

}
ul.mtree.transit li.mtree-node:last-child > ul > li:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}
ul.mtree.transit a {
  padding: 5px 0px 5px 0.8em;
  color: #FFF;
}
ul.mtree.transit li li > a {
  padding-left: 1.6em;
}
ul.mtree.transit li li li > a {
  padding-left: 2.4em;
}
ul.mtree.transit li li li li > a {
  padding-left: 3.2em;
}
ul.mtree.transit li li li li li > a {
  padding-left: 4em;
}
 
  .mtree-demo{
  top:0px;
  position:relative;
  }

.mtree-demo .mtree {
  
  background: #a09a9a;
  position:relative;
  max-width: 300px;
  border-radius: 3px;
  margin-bottom:20px
}

.mtree-skin-selector {
  text-align: center;
  background:#a09a9a;
  padding: 10px 0 15px;
}

.mtree-skin-selector li {
  display: inline-block;
  float: none;
} 
 